#header {
    height: 10vh;
    padding: 0px 3rem;
    display: flex;
    align-items: center;
}

#header app-icon-button {
    margin-left: auto;
}

#header app-icon-button:hover {
    background-color: rgba(8, 8, 8, 0.098);
    border-radius: 5rem;
}

