/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62%;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #120a1d;
  background-image: radial-gradient(
    ellipse at center,
    rgba(200, 102, 255, 0.09) 0%,
    rgba(178, 102, 255, 0.09) 30%,
    rgba(178, 102, 255, 0.06) 60%,
    transparent 80%
  );

  color: #f0eefb;
  min-height: 100vh;
}

h1 {
  font-family: "Poppins";
  font-size: 4.2rem; /* Slightly increased for better hierarchy */
  font-style: italic;
  line-height: 1.2;
  color: #ffffff;
}

p,
legend,
label {
  font-family: "Inter";
  font-size: 1.7rem; /* Slightly increased for better readability */
  line-height: 1.6;
  color: #ffffff;
}
